body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.container {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #cae3c5;
}
.container-top {
    flex-shrink: 0;
    background: #eae0ca;
}
.container-top-top {
    background: #eccaca;
}
.container-top-bottom {

}
.container-bottom {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.container-bottom-top {
    flex-grow: 1;
    flex-shrink: 0;
    background: #c3dde5;
}
.container-bottom-bottom {
    flex-shrink: 0;
    min-height: 204px;
}
.container-bottom-bottom-top {
    background-color: #cfcce1;
    height: 24px;
}
.container-bottom-bottom-bottom {

}
